@import url(reset.css);
#insideout__menubottom {
  position: absolute;
  bottom: 0px;
  width: 100%; }
  #insideout__menubottom ul {
    list-style-type: none;
    width: 100%; }
    #insideout__menubottom ul li {
      float: left;
      width: 20%;
      height: 50px;
      background: #CCC; }
    #insideout__menubottom ul li.selected {
      background: #AAA; }

#insideout__pm {
  height: 300px; }

#insideout__pm__photos {
  height: 300px; }
