@import url(reset.css);
#insideout__browse__menu, #insideout__entry__menu {
  width: 100%; }
  #insideout__browse__menu ul, #insideout__entry__menu ul {
    list-style-type: none;
    width: 100%; }
    #insideout__browse__menu ul li, #insideout__entry__menu ul li {
      float: left;
      width: 60px;
      height: 50px;
      background: #CCC; }
    #insideout__browse__menu ul li.selected, #insideout__entry__menu ul li.selected {
      background: #AAA; }

#insideout__browse__menu {
  position: absolute;
  bottom: 0px; }

#insideout__browse__view {
  height: 300px; }

#insideout__browse__view__photos {
  height: 300px; }
