@import url(reset.css);
#titre {
  font-family: 'Anton', sans-serif;
  font-size: 39px;
  margin-bottom: 3px;
  line-height: 40px; }

#soustitre {
  font-family: 'HelveticaNeue-Bold', sans-serif;
  font-size: 18px;
  color: #272727;
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 22px;
  float: left; }

#p {
  font-family: 'HelveticaNeue', sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-right: 14px;
  float: left;
  width: 290px; }

#jrphoto {
  float: left;
  margin-top: 3px; }

#share {
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  line-height: 30px;
  margin-top: 10px; }

#insideout__browse__header {
  height: 50px;
  background-image: url(../img/logo.png), -webkit-gradient(linear, right top, left top, color-stop(1, #d9d9d9), color-stop(0.52, white), color-stop(0, #d9d9d9));
  background-repeat: no-repeat, repeat;
  -webkit-box-shadow: #333434 0px 0px 10px;
  background-position: 5% 50%;
  border: none; }

#insideout__browse__uploadbutton {
  width: 75px;
  height: 66px;
  border-radius: 0px;
  border: 0;
  font-family: 'Anton', sans-serif;
  font-size: 15px;
  line-height: 105px;
  margin-left: 230px;
  margin-top: -50px;
  padding: 0;
  -webkit-box-shadow: #333434 0px 0px 10px;
  background-image: url(../img/upload.png), -webkit-gradient(linear, right top, left top, color-stop(0.39, #dedede), color-stop(0.7, #f2f2f2), color-stop(1, #dedede));
  background-repeat: no-repeat, repeat;
  background-position: 50% 30%, 0 0; }

#insideout__browse__menu, #insideout__entry__menu {
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(1, #d9d9d9), color-stop(0.52, white), color-stop(0, #d9d9d9));
  background-image: -moz-linear-gradient(right center, #d9d9d9 100%, white 52%, #d9d9d9 0%); }
  #insideout__browse__menu ul, #insideout__entry__menu ul {
    list-style-type: none;
    border-top: 1.5px solid #000000;
    width: 100%; }
    #insideout__browse__menu ul li, #insideout__entry__menu ul li {
      float: left;
      width: 79px;
      height: 46px;
      font-family: 'HelveticaNeue-Bold', sans-serif;
      color: #3c3b3b;
      font-size: 10px;
      text-align: center;
      line-height: 69px; }
    #insideout__browse__menu ul #insideout__browse__menu_photos, #insideout__entry__menu ul #insideout__browse__menu_photos {
      background-image: url(../img/mosaic.png), url(../img/separation-menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%, 100% 100%; }
    #insideout__browse__menu ul #insideout__browse__menu_photos.selected, #insideout__entry__menu ul #insideout__browse__menu_photos.selected {
      background-image: url(../img/mosaic-survol.png), url(../img/separation-menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%, 100% 100%;
      color: #000000; }
    #insideout__browse__menu ul #insideout__browse__menu_aboutinside, #insideout__entry__menu ul #insideout__browse__menu_aboutinside {
      background-image: url(../img/insideout.png), url(../img/separation-menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%, 100% 100%; }
    #insideout__browse__menu ul #insideout__browse__menu_aboutinside.selected, #insideout__entry__menu ul #insideout__browse__menu_aboutinside.selected {
      background-image: url(../img/insideout-survol.png), url(../img/separation-menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%, 100% 100%;
      color: #000000; }
    #insideout__browse__menu ul #insideout__browse__menu_aboutjr, #insideout__entry__menu ul #insideout__browse__menu_aboutjr {
      background-image: url(../img/jr.png), url(../img/separation-menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%, 100% 100%; }
    #insideout__browse__menu ul #insideout__browse__menu_aboutjr.selected, #insideout__entry__menu ul #insideout__browse__menu_aboutjr.selected {
      background-image: url(../img/jr-survol.png), url(../img/separation-menu.png);
      background-repeat: no-repeat;
      background-position: 50% 50%, 100% 100%;
      color: #000000; }
    #insideout__browse__menu ul #insideout__browse__menu_share, #insideout__entry__menu ul #insideout__browse__menu_share {
      background-image: url(../img/share.png);
      background-repeat: no-repeat;
      background-position: 50% 50%; }
    #insideout__browse__menu ul #insideout__browse__menu_share.selected, #insideout__entry__menu ul #insideout__browse__menu_share.selected {
      background-image: url(../img/share-survol.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      color: #000000; }

#insideout__browse__menu {
  position: absolute;
  bottom: 0px; }

#insideout__browse__view {
  height: 350px;
  background-image: -moz-linear-gradient(top, white, #d2d1d1);
  background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(#d2d1d1)); }

#insideout__browse__view > div {
  height: 350px;
  color: #000000;
  margin-left: 14px; }
