<h1 id="titre">JR</h1>
<img src="img/point.png">

<h2 id="soustitre">JR OWNS THE BIGGEST ART GALLERY IN THE WORLD.</h2>
<img id="jrphoto" src="img/jrphoto.png">
<p id="p">
He exhibits freely in the streets of the world, catching the attention of people who are not typical museum visitors. His work mixes Art and Act, talks about commitment, freedom, identity and limit. After he found a camera in the Paris subway, he did a tour of European Street Art, tracking the people who communicate messages via the walls. Then, he started to work on the vertical limits, watching the people and the passage of life from the forbidden undergrounds and roofs of Paris.<br>
<br>

<img src="img/picto-triangle.png">&nbsp;
In 2006, he achieved Portrait of a generation, portraits of the suburban "thugs" that he posted, in huge formats, in the bourgeois districts of Paris. This illegal project became "official" when the Paris City Hall wrapped its building with JR's photos.<br>
<img id="work" src="img/BRAQUAGEFINAL2.png">

<img src="img/picto-triangle.png">&nbsp;In 2007, with Marco, he did Face 2 Face, the biggest illegal exhibition ever. JR posted huge portraits of Israelis and Palestinians face to face in eight Palestinian and Israeli cities, and on the both sides of the Security fence / Separation wall. The experts said it would be impossible. Still, he did it.<br>
<img id="work" src="img/JR_tryptique.png">

<img src="img/picto-triangle.png">&nbsp;In 2008, he embarked for a long international trip for "Women", a project in which he underlines the dignity of women who are often the targets of conflicts.<br>
<img id="work" src="img/28mm_women_Rio_11.png">

<img src="img/picto-triangle.png">&nbsp;At the same time, he creates up the project The Wrinkles of the City. These actions aim to show through theirs wrinkles, the inhabitants of a city, the history and memory of a country. The artist chose the cities that have experienced changes such as Cartagena in Spain, Shanghai or Los Angeles.<br>
<img id="work" src="img/JR_carthagene_art.png">

<img src="img/picto-triangle.png">&nbsp;In 2010, his film Women Are Heroes is presented at Cannes in competition for the Camera d'Or. He also started a project called Unframed, which reinterprets in huge formats photos from important photographers taken from the archives of museums.<br>
<img id="work" src="img/homepage2_01.png">

<img src="img/picto-triangle.png">&nbsp;In 2011, he received the Ted Prize, which offers him the opportunity to make "A wish to change the world." He creates InsideOut, an international participatory art project that allows people worldwide to get their picture and paste it to support an idea, a project, an action and share their experience.<br>
<img id="work" src="img/L1001981.png">
 
<img src="img/picto-triangle.png">&nbsp;JR creates "Pervasive Art" that spreads uninvited on the buildings of the slums around Paris, on the walls in the Middle-East, on the broken bridges in Africa or the favelas in Brazil. People who often live with the bare minimum discover something absolutely unnecessary. And they don't just see it, they make it. Some elderly women become models for a day; some kids turn artists for a week. In that Art scene, there is no stage to separate the actors from the spectators.<br>
<br>
After these local exhibitions, the images are transported to London, New York, Berlin or Amsterdam where people interpret them in the light of their own personal experience.<br>
<br>
As he remains anonymous and doesn't explain his huge full frame portraits of people making faces, JR leaves the space empty for an encounter between the subject/protagonist and the passer-by/interpreter. This is what JR’s work is about. Raising questions...
<br/><br/><br/>
</p>


