<h1 id="titre">Welcome to <br>
 the Inside Out <br> 
 Project</h1>
<img src="img/point.png">
<h2 id="soustitre">A COLLABORATION BETWEEN THE ARTIST JR, THE TED PRIZE, AND YOU.</h2>

<p id="p">

INSIDE OUT is a large-scale participatory art project that transforms messages of personal identity into pieces of artistic work. Everyone is challenged to use black and white photographic portraits to discover, reveal and share the untold stories and images of people around the world. These digitally uploaded images will be made into posters and sent back to the project’s co-creators for them to exhibit in their own communities. People can participate as an individual or in a group; posters can be placed anywhere, from a solitary image in an office window to a wall of portraits on an abandoned building or a full stadium. These exhibitions are documented, archived and viewable virtually.<br>
<img id="work" src="img/IMG_5351_INSIDEOUT.png">

Gigantic Photobooths are also being installed everywhere in the world (Paris - Centre Pompidou, Arles, etc)
<img id="work" src="img/PompidouIMG_6315.png">

</p>

<img src="img/pointpetit.png">


<h2 id="soustitre"><img src="img/picto-rectangle.png">&nbsp;GET INVOLVED</h2>


<h3 id="question"><img src="img/picto-triangle.png">&nbsp;Want to organize a group action? </h3>

<p id="p">
If you are interested in participating in INSIDE OUT as a group or community, please contact us via email: jr@insideoutproject.net <br> 
Please put your location and GROUP ACTION in the subject line. (i.e. BEIRUT GROUP ACTION)
</p>


<h3 id="question"><img src="img/picto-triangle.png">&nbsp;Want to get involved in another way? </h3>

<p id="p">
If you have a wall you can donate to the project, want to paste in your local community, or know great people who should participate but don’t have access to a camera or the internet, let us know! Please put your location and VOLUNTEER in the subject line. (i.e. Buenos Aires — Donate a Wall)
</p>

<h3 id="question"><img src="img/picto-triangle.png">&nbsp;Interested in supporting INSIDE OUT financially? </h3>

<p id="p">
INSIDE OUT is not sponsored by any brand. If you want to help fund the project, you can purchase a special TED limited edition lithograph or donate directly via Paypal. INSIDE OUT is funded by The Sapling Foundation, Social Animals and generous donations from people like you.
</p>
