<h1 id="titre">Participate!</h1>
<img src="img/point.png">

<p id="p">
<br>
Welcome to the Inside Out project!
<br>
<br>

To participate, please send an email to <a href="mailto:insideoutapp@gmail.com">insideoutapp@gmail.com</a> with a <b style="font-weight:bold;">Full Size Vertical Portrait</b> (the highest resolution possible on your phone) and the following information:

<br>
<br>&nbsp;1.&nbsp;First AND Last Name
<br>&nbsp;2.&nbsp;City, Country
<br>&nbsp;3.&nbsp;Your Statement (what you stand for/care about)

<br>
<br>
By sending this email you agree to give the Inside Out project permission to upload and use this portrait and agree to terms of service.
<br>

<br>
We will reply to you by email so that you can continue the process and receive your poster!
<br>

<br>
If you want to organize an Inside Out Group Action, please send us an email to <a href="mailto:jr@insideoutproject.net">jr@insideoutproject.net</a>
<br>
<br>
Thanks for participating in a Global Art Project!
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</p>